body {
  background-repeat: no-repeat;
  font-family: Roboto;
  color: #3b3b3b;
  background: url('../images/home_bg.png');
  background-size: cover;
  background-attachment: fixed;
}
a, a:hover {
  color: #3b3b3b;
}

label {
  text-transform: uppercase;
  margin-bottom: -4px;
  font-size: 14px;
  width: 100%;
  text-align: left;
}

 .input-group .form-control, .input-group-text {
     border: none;
 }

input, select, input:focus{
  width: 100%;
  border: none;
  height: 40px;
  outline: none;
  padding-left: 12px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;
}

input[type='checkbox' i]{
  width: 30px;

}

button, button:focus {
  width: 100%;
  border: none;
  height: 40px;
  outline: none;
  padding-left: 12px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
  background: #2d9b8a;
}

button:focus {
  background: #258374;
}

.title {
  font-family: gothamblack;
  font-size: 36px;
}

.navbar-brand {
  font-family: joshandemo;
  font-size: 42px;
  margin-top: -10px;
  margin-left: 5px;
  color: #3b3b3b;
}

.nav-link {
  font-family: Roboto;
  color: #3b3b3b;
  margin-top: -5px;
  margin-left: 10px;
  font-weight: 550;
}

.main {
  height: 100vh;
  background: transparent;
}

.centered {
  position:absolute;
    left:0; right:0;
    top:0; bottom:0;
  margin:auto;

}

.search {
  width: 60%;
  height: 130px;
}

.search input {
  height: 56px;
  font-size: 16px;
}

.login {
  width: 300px;
  height: 350px;
}

.login .logo, .logo:hover {
  font-family: joshandemo;
  font-size: 90px;
  text-decoration: none;
}
.login .extra {
  font-size: 14px; text-transform: uppercase;
  margin-bottom: -5px;
  font-weight: bold;
}

section {
  padding-top: 20px;
  background: #eee;
}

.btn-mini, .btn-mini:focus {
  width: 100px;
  height: 34px;
  background: #fff;
  color: #3b3b3b;
}

.main-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,.8);
}

.signup {
  background-attachment: fixed;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 80px;
}

@font-face {
    font-family: joshandemo;
    src: url('../fonts/joshandemo.ttf');
}

@font-face {
    font-family: gothamblack;
    src: url('../fonts/gotham-black.otf');
}

.profile {
  width: 650px;
  height: 280px;
  text-align: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 10px;
}

input[type=file]{
  margin-bottom: -4px;
}

.profile h5 {
  font-weight: normal;
  font-size: 16px;
  border-bottom: 1px solid #2d9b8a;
  padding: 5px;
  width: 100%;
  text-align: left;
}

.profile .name{
  text-transform: lowercase;
}

.profile a{
  background-color: #2d9b8a;
  padding: 6px;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}


.events {
  width: 650px;
  height: 280px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 80px;

}

.event .title {
  font-family: gothamblack;
  font-size: 28px;
}

.events .description{
  background: rgba(255,255,255,.8);
  border-radius: 5px;
}

.events .rates {
  width: 100%;
  background: rgba(255,255,255,.8);
  border-radius: 5px;
  margin-top: 10px;
}
.events .rate {
  padding: 3px;
}
.bdright {
  border-right: solid 1px  #333;
}

.bdleft {
  border-left: solid 1px  #333;
}
